<!-- FOOTER partial -->

<footer ng-class="{'pushed': main.pushmenu}">

  <div class="row text-center">
  </div>

  <div class="row text-center">
    <span>&copy; <%= Time.now.year %> <%=link_to "Recordbyte", about_path %>.</span>
    <span>Made with <span class="glyphicon glyphicon-heart"></span> in Los Angeles, CA</span>
  </div>

</footer>
