<!-- FOOTER partial -->

<footer>

  <div class="row text-center">
  </div>

  <div class="row text-center">
    <span>Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://twitter.com/StanleyCYang">Stanley Yang</a></span>
    <!--<span>&copy; <%#= Time.now.year %> <%#=link_to "Recordbyte", root_path %></span>-->
  </div>

</footer>
