<!-- HEADER partial -->

<header class="row">
  <div class="col-sm-offset-1 col-sm-11">
    <a href="/" class="glyphicon glyphicon-bookmark"></a>
    <a data-toggle="modal" data-target="#signup">Join</a>
    <a id="hamburger" class="glyphicon glyphicon-menu-hamburger"></a>
  </div>
</header>
