<!-- HEADER partial -->

<%= render 'shared/login' %>

<header class="row" ng-class="{'pushed': main.pushmenu}">
  <div class="col-sm-offset-1 col-sm-11">
    <% if logged_in? %>
      <a href="/home/#/" class="glyphicon glyphicon-bookmark"></a>
      <%= link_to current_user.name, "#/users/#{current_user.id}", class: 'hidden-xs', id: "username" %>
      <a href="/home/#/" class="glyphicon glyphicon-home"></a>
      <a href="/home/#/post" class="glyphicon glyphicon-edit"></a>
      <!--
         -<a class="glyphicon glyphicon-edit"><a>
         -->
    <% else %>
      <a href="/" class="glyphicon glyphicon-bookmark"></a>
      <a data-toggle="modal" id="header-login" data-target="#login">Login</a>
    <% end %>
    <a id="hamburger" class="glyphicon glyphicon-menu-hamburger" ng-click="main.pushmenu = !main.pushmenu"></a>
  </div>
</header>
