<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginLabel">Log in</h4>
      </div>

        <div class="modal-body">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= render 'shared/loginform', f: f %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Log in", id: "login-button", class: "btn btn-lg btn-success" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
