  <%= f.email_field :email, class: 'form-control', autofocus: 'true', placeholder: 'Email' %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
  <%= f.label :remember_me, class: "checkbox inline" do %>
  <%= f.check_box :remember_me, checked: true %>
    <span>Remember me</span>
  <% end %>

