<!-- SIDENAV partial -->

<nav class="slidemenu" ng-class="{'slidemenu-out': main.pushmenu}">

  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: "delete" %>
  <% else %>

  <% end %>

</nav>
