<% provide(:title, "Recordbyte") %>

<div ng-controller="AuthenticationController as auth">


  <div id="main-route-container" ng-init="auth.init('<%= current_user.api_key.access_token %>', <%= current_user.id %>)" ui-view>

  </div>

</div>
