<%= provide(:title, "Recordbyte") %>
<div class="row" id="intro">

  <!-- Being left section -->
  <section class="col-sm-offset-1 col-sm-5">
    <h1 id="top-title">Novels</h1>
    <h1>Biographies</h1>
    <h1>Classics</h1>

    <p class="description">The most engaging way to stay well-read. Get a book recommendation every week starting today. It's 100% free and will always be.</p>

    <%= link_to "Sign up", signup_path, class: "btn-success btn btn-lg btn-default" %>

    <%= link_to 'Learn more', about_path, class: 'learn-more' %>

  </section>

  <!-- Being right section -->
  <section class="col-sm-6">

  <div id="home-carousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <!-- Active items -->
        <div class="item active text-center">
          <a href="/signup" class="glyphicon glyphicon-book"></a>
          <p class="caption">Get a book recommendation weekly</p>
        </div>

        <!-- Second item -->
        <div class="item text-center">
          <a href="/signup" class="glyphicon glyphicon-align-left"></a>
          <p class="caption">Browse our top book recommendations</p>
        </div>

        <!-- Third item -->
        <div class="item text-center">
          <a href="/signup" class="glyphicon glyphicon-heart"></a>
          <p class="caption">Love books? Recommend books!</p>
        </div>

      </div><!-- End carousel inner -->

    </div><!-- End carousel -->

  </section>

</div>
