/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

// <=== Variables ===>

// Color scheme
$background-color: #f0f0f0;
$theme-color: #72d0f4;
$font-black-color: #2E2E2E;
$font-gray-color: #777;

// Font stack
$main-font: 'Raleway', sans-serif;

// <=== Classes ===>

// Layers

.top-layer
{
  z-index: 10;
}

.mid-layer
{
  z-index: 5;
}

// Box model

.no-margin
{
  margin: 0;
}

.no-padding
{
  padding: 0;
}

// Width + Height

.max-width
{
  width: 100%;
}

.max-height
{
  min-height: 100%;
}

.max-page
{
  @extend .no-margin;
  @extend .no-padding;
  @extend .max-height;
  @extend .max-width;
  overflow-x: hidden;
}

// Glyphs

.glyphicon-book
{
  color: #23527c;
}

.glyphicon-align-left
{
  color: #DF7401;
}

.glyphicon-heart
{
  color: #DF0101;
}

// <=== Mixins ===>



// <===  Elements ===>

// html and body
html, body
{
  @extend .max-page;
  background-color: $background-color;
  font-family: $main-font;
}

a
{
  cursor: pointer;
}

// Header & Footer
header, footer
{
  @extend .top-layer;
}

// <=== Ids ===>

#home-carousel
{
  .glyphicon
  {
    font-size: 14em;
  }
}

