/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

// <=== Variables ===>

// Color scheme
//$background-color: #f0f0f0;
$background-color: #FBFBEF;
$theme-color: #72d0f4;
$font-black-color: #2E2E2E;
$font-gray-color: #777;

// Font stack
$main-font: 'Raleway', sans-serif;

// Header
$header-height: 80px;

// <=== Classes ===>

// Stars
.glyphicon-star-empty
{
  font-size: 2.8em;
  color: #D8D8D8;
}
.glyphicon-star
{
  font-size: 2.8em;
  color: #FFBF00;
}

// Layers

.top-layer
{
  z-index: 10;
}

.mid-layer
{
  z-index: 5;
}

// Box model

.no-margin
{
  margin: 0;
}

.no-padding
{
  padding: 0;
}

// Width + Height

.max-width
{
  width: 100%;
}

.max-height
{
  min-height: 100%;
}

.max-page
{
  @extend .no-margin;
  @extend .no-padding;
  @extend .max-height;
  @extend .max-width;
  overflow-x: hidden;
}

// Book results
.book-results
{
  background-color: #fff;
  position: relative;
  min-height: 45px;
  box-shadow: 2px 2px 5px 0px #ccc;
  @extend .max-width;
}
.books-queried
{
  list-style-type: none;
  padding: 0;
  li
  {
    padding: 10px 0 0 14px;
    font-size: 1.1em;
    cursor: pointer;
    &:hover
    {
      background-color: #E6E6E6;
    }
  }
}

// Form for login and signup
.entry-form
{
  margin-top: 120px;
}

// Login remember me
.checkbox
{
  margin-left: 22px;
}

// Glyphs

.glyphicon-book
{
  color: #23527c;
}

.glyphicon-align-left
{
  color: #DF7401;
}

.glyphicon-heart
{
  color: #DF0101;
}

// Animations

.pushed
{
  left: -250px;
}

// <=== Mixins ===>



// <===  Elements ===>

// html and body
html, body
{
  background-color: $background-color;
  font-family: $main-font;
  @extend .max-page;
}

body
{
  position: relative;
  left: 0;
  transition: left .5s ease;
}

a
{
  cursor: pointer;
  &:hover, &:visited, &:active, &:link
  {
    text-decoration: none;
  }
}

// Take out the resize in textarea
textarea
{
  resize: none;
}

// Header & Footer
header, footer
{
  position: fixed;
  left: 0;
  transition: left .5s ease;
  @extend .top-layer;
  @extend .max-width;
  @extend .no-padding;
  @extend .no-margin;
}

header
{
  height: $header-height;
  top: 0;
  background-color: transparent;
  color: $font-black-color;

  a
  {
    color: $font-black-color;
    position: absolute;
  }

  .glyphicon
  {
    font-size: 1.5em;
  }
  .glyphicon-bookmark
  {
    margin-left: 15px;
    top: 18px;
  }

  .glyphicon-edit
  {
    position: absolute;
    right: 98px;
    top: 19px;
  }
  .glyphicon-menu-hamburger
  {
    position: absolute;
    right: 45px;
    top: 20px;
  }
  #username
  {
    right: 148px;
    top: 19px;
  }

}
.slidemenu
{
  background-color: $font-black-color;
  position: fixed;
  width: 0px;
  right: 0;
  top: 0;
  font-size: 0;
  font-weight: 100;
  transition: width .5s, font .5s ease;
  @extend .max-height;
  @extend .top-layer;
  ul
  {
    list-style-type: none;
    @extend .no-padding;
    li
    {
      padding: 0;
      a
      {
        display: block;
        width: 100%;
        padding: 15px 0;
        color: #E6E6E6;
        border-bottom: 1px solid black;
        &:hover
        {
          background-color: black;
        }
        span.glyphicon
        {
         color: #E6E6E6;
         font-size: 0.8em;
          margin-right: 8px;
        }
      }
      #first-item
      {
        border-top: 1px solid black;
      }
    }
  }
}
.slidemenu-out
{
  width: 250px;
  font-size: 1.5em;
}

footer
{
  bottom: 0;
  height: 50px;
}

// <=== Ids ===>
#loader
{
  width: 35px;
  height: 35px;
  background: url(loading.gif);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  margin: 6px auto;
}
div#intro
{
  h1
  {
    font-size: 64px;
    font-weight: 100;
  }
  #top-title
  {
    margin-top: 130px;
  }
  .description
  {
    color: $font-gray-color;
    line-height: 1.6em;
    font-size: 1.1em;
    margin: 42px 0;
  }
  .learn-more
  {
    margin-left: 20px;
  }
}

#home-carousel
{
  padding: 160px 0 65px 0;
  .glyphicon
  {
    font-size: 15em;
    margin-bottom: 55px;
  }
}

#main-route-container
{
  @extend .max-page;
}

#book-review
{
  margin-top: 90px;
  input
  {
    height: 40px;
  }
  textarea
  {
    height: 90px;
  }

  .score
  {
    font-size: 1.6em;
    position: relative;
    top: -8px;
    left: 10px;
  }
}
#header-login
{
  right: 100px;
  top: 17px;
  font-size: 1.2em;
}
#setting
{
  margin-top: 110px;
}
#profile-page
{
  margin-top: 40px;
  padding-bottom: 140px;
  #user-info
  {
    margin-top: 35px;
    height: 100px;
    position: fixed;
    background-color: #FFF;
    /*box-shadow: 1px 3px 5px 3px #ccc;*/
  }
}
#no-post
{
  /*box-shadow: 1px 3px 5px 3px #ccc;*/
  margin: 35px 0;
  padding: 34px;
  font-size: 1.5em;
  background-color: #fff;
}
#search
{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.9;
  .input-group
  {
    width: 80%;
    margin: 10px auto;
    .input-group-addon
    {
      border: none;
      background-color: #fff;
      font-size: 20px;
    }
    input
    {
      font-weight: bold;
      outline: none;
      color: black;
      font-size: 20px;
      height: 60px;
      border: none;
      background: none;
      @extend .top-layer;
    }
  }
}
.user-reviews
{
  background-color: #FFF;
  /*box-shadow: 1px 3px 5px 3px #ccc;*/
  padding: 30px 10px;
  margin: 35px 0;
  .glyphicon-remove
  {
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  .thumbnails
  {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }
  .name
  {
    font-weight: bold;
  }
  .titles
  {
    font-weight: bold;
  }
  .reviews
  {
    margin-top: 10px;
    font-size: 1.1em;
  }
}
